<h1><code ng:non-bindable="">linkEditor</code>
<div><span class="hint">directive in module <code ng:non-bindable="">turingLearningApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="turinglearningapp-directive-page turinglearningapp-directive-linkeditor-page"><h3 id="description_linkeditor">linkEditor</h3>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY link-editor&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
