<h1><code ng:non-bindable="">roundButton</code>
<div><span class="hint">directive in module <code ng:non-bindable="">turingLearningApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="turinglearningapp-directive-page turinglearningapp-directive-roundbutton-page"><p>Simple round button with given icon and text which will call click
function when clicked</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;round-button
       click="{function}"
       icon="{string}"
       text="{string}"&gt;
&lt;/round-button&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>click</td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="turinglearningapp-directive-page turinglearningapp-directive-roundbutton-page"><p>Function to be called when button clicked</p>
</div></td></tr><tr><td>icon</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="turinglearningapp-directive-page turinglearningapp-directive-roundbutton-page"><p>Icon class to dispaly on button</p>
</div></td></tr><tr><td>text</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="turinglearningapp-directive-page turinglearningapp-directive-roundbutton-page"><p>Text label to show on button</p>
</div></td></tr></tbody></table></div>
</div>
