<h1><code ng:non-bindable="">brickCard</code>
<div><span class="hint">directive in module <code ng:non-bindable="">turingLearningApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="turinglearningapp-directive-page turinglearningapp-directive-brickcard-page"><p>Directive used to display a brick. The brick will be displayed with a header
which contains the purpose or signal of the brick along with any action which
is attached to the brick. The brick will also be displayed with a footer 
containing interactions</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/client/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/client/turingLearningApp.service:Brick">Brick</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;brick-card
       brick="{Object}"
       open-brick="{Boolean}"
       [number="{Number}"]&gt;
&lt;/brick-card&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>brick</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="turinglearningapp-directive-page turinglearningapp-directive-brickcard-page"><p>The brick object to display</p>
</div></td></tr><tr><td>openBrick</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="turinglearningapp-directive-page turinglearningapp-directive-brickcard-page"><p>Function called when the brick is clicked</p>
</div></td></tr><tr><td>number <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="turinglearningapp-directive-page turinglearningapp-directive-brickcard-page"><p>Number to be displayed in brick header</p>
</div></td></tr></tbody></table></div>
</div>
