<h1><code ng:non-bindable="">Sidebar</code>
<div><span class="hint">service in module <code ng:non-bindable="">turingLearningApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="turinglearningapp-service-page turinglearningapp-service-sidebar-page"><p>The <code>Sidebar</code> service can be used to control the sidebar view</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_toggle">toggle()</h3>
<div class="toggle"><div class="toggle-page"><p>Toggle display of the sidebar</p>
</div></div>
</li>
</ul>
</div>
</div>
