<h1><code ng:non-bindable="">dropdownInput</code>
<div><span class="hint">directive in module <code ng:non-bindable="">turingLearningApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="turinglearningapp-directive-page turinglearningapp-directive-dropdowninput-page"><p>Dropdown input to dispaly a list of options which can be selected. When a
value is selected the parameter is chanaged and the callback is called.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;dropdown-input
       selected
       options="{string}"
       [label="{string}"]
       [callback="{function}"]&gt;
&lt;/dropdown-input&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>selected</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="turinglearningapp-directive-page turinglearningapp-directive-dropdowninput-page"><p>The currently selected value of options</p>
</div></td></tr><tr><td>options</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="turinglearningapp-directive-page turinglearningapp-directive-dropdowninput-page"><p>Options which can be selected using dropdown</p>
</div></td></tr><tr><td>label <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="turinglearningapp-directive-page turinglearningapp-directive-dropdowninput-page"><p>Label for dropdown input to be shown to the left</p>
</div></td></tr><tr><td>callback <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="turinglearningapp-directive-page turinglearningapp-directive-dropdowninput-page"><p>Function to be called when selected is changed</p>
</div></td></tr></tbody></table></div>
</div>
