<h1><code ng:non-bindable="">Authorization</code>
<div><span class="hint">service in module <code ng:non-bindable="">turingLearningApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="turinglearningapp-authorization-page"><h3 id="description_authorization">Authorization</h3>
<p>The <code>Authorization</code> service provides an authorize method to check that the
currently logged in user is able to access a particular route. It is assumed
that user roles are ordered and that higher users can access routes for users
with lower privalages.</p>
</div></div>
</div>
