<h1><code ng:non-bindable="">textInput</code>
<div><span class="hint">directive in module <code ng:non-bindable="">turingLearningApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="turinglearningapp-directive-page turinglearningapp-directive-textinput-page"><p>Dropdown input to dispaly a list of options which can be selected. When a
value is selected the parameter is chanaged and the callback is called.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;text-input
       text="{string}"
       [format="{string}"]&gt;
&lt;/text-input&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>text</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="turinglearningapp-directive-page turinglearningapp-directive-textinput-page"><p>The text to be edited</p>
</div></td></tr><tr><td>format <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="turinglearningapp-directive-page turinglearningapp-directive-textinput-page"><p>Text format for syntax highlighting</p>
</div> <p><em>(default: 'plain')</em></p></td></tr></tbody></table></div>
</div>
